html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
  background-color: #001137;
  background-image: url("../images/bg.png");
  color: #FFF; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 50px;
  text-align: center;
}

button {
  background-color: #CD0BC3;
  color: #fff;
  margin: 10px 0px;
}

h2 {
  /*color: #CD0BC3;*/
  font-weight: bold;
}

input[type], .input-like {
  background-color: #273498;
  color: #FF21D0;
  font-weight: bold;
  border: 1px solid #CD0BC3;
}

.row {
  background-color: #001137;
  margin-bottom: 30px;
  border: 1px solid #CD0BC3;
  border: 0px;
  padding: 20px;
}

.navbar-default {
  background-color: #001137;
  border: 0px;
}

.navbar-default .navbar-brand {
  color: #FF21D0;
  font-weight: bold;
  margin: 0px 20px;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body { margin-bottom: 400px; }
  .footer { height: 400px; }
}
